/* Main Content */
.main-content-genres {
    display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url("/images/background/homebg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
    .breadcrumb {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2px 0;
        .breadcrumb-container {
            width: 70%;
            display: flex;
            align-items: center;
            background-color: $color-primary-black;
            .breadcrumb-item {
                padding: 10px 0;
                background-color: $color-primary-red;
                height: 100%;
                padding-left: 10px;
                font-family: "Metal Mania";
                font-size: 18px;
                color: $color-primary-grey;
                a {
                    color: $color-primary-grey;
                    text-decoration: none;
                    &:hover {
                        color: $color-white;
                    }
                }
            }
            .breadcrumb-item+.breadcrumb-item {
                &::before {
                    color: $color-primary-black;
                    content: "/\00a0";
                }
            }
            .triangle {
                padding: 0 !important;
                padding-left: 0 !important;
                background-color: transparent !important;
                content: '';
                    width: 0;
                    height: 0;
                    border-top: 21px solid transparent;
                    border-bottom: 21px solid transparent;
                    border-left: 21px solid $color-primary-red;
                    border-right: 15px solid transparent;
                &::before {
                    content: none !important;
                }
            }
        }
    }
    .main-content-container {
        background-color: $color-white;
        display: block;
		background-color: $color-white;
		width: 70%;
        font-family: $font-primary;
        .genres-list {
            column-count: 2;
            .genre {
                font-size: 20px;
                padding: 10px;
                a {
                    text-decoration: none;
                    color: $color-primary-black;
                    &::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: linear-gradient(to right, $color-primary-black 0% 40%, transparent 50% 100% );
                        transition: width .3s;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}