/* Main Content */
.main-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background: url("/images/background/homebg.jpg") no-repeat center center fixed;
	background-size: cover;
	.main-content-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: $color-white;
		width: 70%;
		/* Top Slider */
		.slider-container {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
		.slider {
			width: 100%;
		}
		.top-slides {
			aspect-ratio: 16/9;
			width: 100%;
			display: none;
		}
		.slider-btn {
			display: flex;
			position: absolute;
			justify-content: space-between;
			align-items: center;
			width: 70%;
		}
		.slider-button {
			color: $color-white;
			opacity: 80%;
			background-color: $color-primary-black;
			text-align: center;
			font-size: 30px;
			padding: 2vh;
			&:hover {
				cursor: pointer;
				opacity: 100%;
			}
		}
		/* Strength */ 
		.strength {
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $font-primary;
			font-size: 25px;
			padding: 1vh;
		}
		.strength-list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
		}
		.strength-item {
			text-align: center;
		}
		/* Top Banner */
		.top-banner {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 1vh;
		}
		.top-banner-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto auto;
			gap: 1vw;
			width: 60%;
			.item1 {
				grid-column: 1/3;
				grid-row: 1/3;
			}
			.top-banner-item {
				img {
					width: 100%;
					height: 100%;
					max-width: 100%;
					max-height: 100%;
				}
				:hover {
					filter: brightness(1.1);
				}
			}
		}
		/* Latest Products*/
		.latest-title {
			text-align: center;
			font-family: $font-primary;
			font-size: 40px;
			background-color: $color-primary-light-grey;
			width: 100%;
			padding: 4vh 0;
			margin-top: 4vh;
		}
		.latest-slider {
			width: 90%;
			padding: 1vh 0;
			.slick-arrow {
				position: absolute;
				cursor: pointer;
				font-size: 30px;
				z-index: 10;
			}
			.slick-prev {
				top: 50%;
				transform: translateY(-50%);
				left: -40px;
				background-color: $color-white;
				color: #111111;
				border: none;
			}
			.slick-next {
				top: 50%;
				transform: translateY(-50%);
				right: -40px;
				background-color: $color-white;
				color: $color-primary-black;
				border: none;
			}
			.latest-item {
				padding: 17px;
				:hover {
					box-shadow: $color-shadow 0px 5px 15px;
				}
				a {
					color: $color-primary-black;
					text-decoration: none;
				}
				.latest-content {
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					.latest-image{
						pointer-events: none;
						img {
							border-radius: 10px;
							aspect-ratio: 1/1;
							max-width: 100%;
						}
					}
					.latest-description {
						pointer-events: none;
						font-family: $font-primary;
						line-height: 30px;
						text-align: center;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						line-clamp: 2; 
						-webkit-box-orient: vertical;
						max-width: 200px;
						.latest-item-title {
							font-size: 20px;
						}
						.latest-name {
							font-size: 18px;
						}
					}
					.latest-price {
						pointer-events: none;
						font-family: $font-primary;
						font-size: 20px;
						text-align: center;
						transform: translateY(-50%);
					}
				}
			}
		}
		/* Bands Slider */
		.bands-title {
			text-align: center;
			font-family: $font-primary;
			font-size: 40px;
			background-color: $color-primary-light-grey;
			width: 100%;
			padding: 4vh 0;
			margin-top: 4vh;
		}
		.bands-slider {
			width: 90%;
			padding: 1vh 0;
			.slick-arrow {
				position: absolute;
				cursor: pointer;
				font-size: 30px;
				z-index: 10;
			}
			.slick-prev {
				top: 50%;
				transform: translateY(-50%);
				left: -40px;
				background-color: $color-white;
				color: $color-primary-black;
				border: none;
			}
			.slick-next {
				top: 50%;
				transform: translateY(-50%);
				right: -40px;
				background-color: $color-white;
				color: $color-primary-black;
				border: none;
			}
			.bands-item {
				padding: 17px;
				:hover {
					box-shadow: $color-shadow 0px 5px 15px;
				}
				.band {
					border-radius: 10px;
					position: relative;
					left: auto;
					right: auto;
					.band-link {
						width: fit-content;
						img {
							pointer-events: none;
							aspect-ratio: 8/4;
							width: 100%;
						}
					}
				}
			}
		}
		/* Genres Slider */
		.genres-title {
			text-align: center;
			font-family: $font-primary;
			font-size: 40px;
			background-color: $color-primary-light-grey;
			width: 100%;
			padding: 4vh 0;
			margin-top: 4vh;
		}
		.genres-slider {
			width: 90%;
			padding: 1vh 0;
			.slick-arrow {
				position: absolute;
				cursor: pointer;
				font-size: 30px;
				z-index: 10;
			}
			.slick-prev {
				top: 50%;
				transform: translateY(-50%);
				left: -40px;
				background-color: $color-white;
				color: $color-primary-black;
				border: none;
			}
			.slick-next {
				top: 50%;
				transform: translateY(-50%);
				right: -40px;
				background-color: $color-white;
				color: $color-primary-black;
				border: none;
			}
			.genres-item {
				padding: 17px;
				:hover {
					box-shadow: $color-shadow 0px 5px 15px;
				}
				.genre {
					border-radius: 10px;
					position: relative;
					left: auto;
					right: auto;
					.genre-link {
						width: fit-content;
						img {
							pointer-events: none;
							aspect-ratio: 8/4;
							width: 100%;
						}
					}
				}
			}
		}
		/* Bottom Slider*/
		.bottom-banner {
			margin-top: 4vh;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.bottom-banner-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto auto;
			gap: 1vw;
			width: 60%;
		}
		.bottom-banner-item {
			img {
				width: 100%;
				height: 100%;
				max-width: 100%;
				max-height: 100%;
			}
			:hover {
				filter: brightness(1.1);
			}
		}
		/* Review */
		.review-title {
			text-align: center;
			font-family: $font-primary;
			font-size: 40px;
			background-color: $color-primary-light-grey;
			width: 100%;
			padding: 4vh 0;
			margin-top: 4vh;
		}
		.review-container {
			width: 90%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2vh;
			padding: 2vh 0;
			.review-link{
				text-decoration: none;
				color: $color-primary-black;
			}
			.review-item {
				display: flex;
				align-items: center;
				flex-direction: column;
				.review-image {
					height: 20vw;
					max-width: 20vw;
					border-radius: 10px;
				}
				.review-star {
					font-size: 20px;
					color: $color-primary-black;
				}
				.review-text {
					text-align: center;
					font-family: $font-primary;
					font-size: 20px;
					color: $color-primary-black;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					line-clamp: 2; 
					-webkit-box-orient: vertical;
					padding: 0 !important;
				}
			}
		}
		/* Blog */
		.blog-title {
			text-align: center;
			font-family: $font-primary;
			font-size: 40px;
			background-color: $color-primary-light-grey;
			width: 100%;
			padding: 4vh 0;
			margin-top: 4vh;
		}
		.blog-container {
			width: 90%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2vh;
			padding: 2vh 0;
			.blog-item {
				font-family: $font-primary;
				background-color: $color-primary-light-grey;
				border-radius: 10px;
				.blog-image {
					img {
						width: 100%;
						aspect-ratio: 16/9;
						border-radius: 10px 10px 0 0;
					}
				}
				.blog-item-title {
					padding: 0 10px;
					height: 65px;
					font-size: 24px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					line-clamp: 2; 
					-webkit-box-orient: vertical;
					a {
						text-decoration: none;
						color: $color-primary-black;
					}
				}
				.blog-description {
					padding: 0 10px;
					font-size: 18px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					line-clamp: 4; 
					-webkit-box-orient: vertical;
				}
				.blog-read-more {
					padding: 0 10px;
					a {
						text-decoration: none;
						color: $color-primary-black;
					}
				}
				.blog-info {
					padding: 0 10px 10px 10px;
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 10px;
					font-size: 16px;
					.blog-date {
						text-align: center;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						line-clamp: 1; 
						-webkit-box-orient: vertical;
					}
					.blog-author {
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						line-clamp: 1; 
						-webkit-box-orient: vertical;
						text-align: center;
					}
				}
			}
		}
	}
}