.page-wrapper-admin {
    font-family: $font-admin;
    .header-admin {
        display: flex;
        align-items: center;
        background-color: $color-primary-black;
        width: 100%;
        border-bottom: 2px solid $color-primary-red;
        .home {
            #logo {
                height: 60px;
            }
        }
        .topnav {
            flex-grow: 1;
            text-align: right;
            .topnav-item {
                position: relative;
                display: inline-block;
                .dropbtn {
                    color: $color-white;
                    background-color: $color-primary-black;
                    padding: 16px;
                    font-size: 20px;
                    border: none;
                    cursor: pointer;
                    span[data-count]:after {
                        position:absolute;
                        right: 14%;
                        top: 10%;
                        content: attr(data-count);
                        font-size: 50%;
                        padding: .6em;
                        border-radius: 100%;
                        line-height: .75em;
                        color: $color-white;
                        background: $color-primary-light-red;
                        text-align: center;
                        font-weight: bold;
                    }
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: $color-white;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px $color-primary-black-transparent;
                    text-align: left;
                    z-index: 1;
                    a {
                        color: $color-primary-black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        &:hover {
                            background-color: $color-primary-light-grey;
                        }
                    }
                }
                .dropdown-content.active {
                    display: block;
                }
            }
        }
    }
    .main-content-admin {
        display: grid;
        grid-template-columns: 16% 84%;
        height: 100vh;
        .side-bar {
            background-color: $color-primary-black;
            color: $color-white;
            min-height: 100%;
            grid-column: 1/2;
            .side-bar-list {
                padding: 0;
                .side-bar-item {
                    font-size: 20px;
                    padding: 0;
                    list-style-type: none;
                    cursor: pointer;
                    &:hover {
                        background-color: $color-white;
                        color: $color-primary-black;
                        & > a {
                            background-color: $color-white;
                            color: $color-primary-black;
                        }
                    }
                    a {
                        display: block;
                        padding: 15px 0px;
                        padding-left: 30px;
                        text-decoration: none;
                        color: $color-white;
                    }
                }
                .side-bar-item.products {
                    padding: 15px 0px;
                    padding-left: 30px;
                }
                .side-bar-item.bands {
                    padding: 15px 0px;
                    padding-left: 30px;
                }
                .side-bar-item.blogs {
                    padding: 15px 0px;
                    padding-left: 30px;
                }
                .side-bar-dropdown {
                    padding: 0;
                    font-size: 18px;
                    .side-bar-dropdown-item {
                        padding: 0;
                        list-style-type: none;
                        &:hover {
                            color: $color-primary-black;
                            background-color: $color-white;
                            & > a {
                                background-color: $color-white;
                                color: $color-primary-black;
                            }
                        }
                        a {
                            display: block;
                            padding: 10px 0px;
                            padding-left: 50px;
                            text-decoration: none;
                            color: $color-white;
                        }
                    }
                }
                .side-bar-dropdown.products {
                    display: none;
                }
                .side-bar-dropdown.products.active {
                    display: block;
                }
                .side-bar-dropdown.bands {
                    display: none;
                }
                .side-bar-dropdown.bands.active {
                    display: block;
                }
                .side-bar-dropdown.blogs {
                    display: none;
                }
                .side-bar-dropdown.blogs.active {
                    display: block;
                }
            }
        }
        .content {
            padding: 15px;
            background-color: $color-ivory;
            grid-column: 2/3;
            :not(:first-child) {
                margin-top: 20px;
            }
            hr {
                height: 1px;
                background-color: $color-primary-light-grey;
                border: none;
            }
            .block {
                background-color: $color-white;
                padding: 15px;
                overflow: scroll;
                form {
                    label {
                        font-size: 20px;
                    }
                    .add-button {
                        font-family: $font-admin;
                        background-color: $color-primary-red;
                        color: $color-white;
                        border: 2px solid $color-primary-black;
                        border-radius: 5px;
                        padding: 5px;
                        width: fit-content;
                        cursor: pointer;
                        &:hover {
                            background-color: $color-white;
                            color: $color-primary-black;
                        }
                        &.submit {
                            font-family: $font-admin;
                            font-size: 20px;
                            padding: 10px;
                        }
                    }
                    
                }
                .add-product-form {
                    .sub-label {
                        display: inline-block;
                        padding-left: 40px;
                        width: 100px;
                    }
                    .sub-input {
                        margin-left: 40px;
                    }
                }
                .add-blog-form {
                    .sub-label {
                        display: inline-block;
                        padding-left: 40px;
                        width: 100px;
                    }
                    .sub-input {
                        margin-left: 40px;
                    }
                }
            }
            .edit-band-window {
                position: absolute;
                width: 82%;
                padding-top: 20px;
                background-color: $color-primary-black-transparent;
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 2;
                .close-button-container {
                    width: 100%;
                    color: $color-white;
                    font-size: 30px;
                    .close-button {
                        display: inline;
                        position: relative;
                        right: -85%;
                        cursor: pointer;
                    }
                }
                .edit-form-container {
                    margin: 0 auto;
                    width: 800px;
                    background-color: $color-white;
                    padding: 10px;
                    border-radius: 5px;
                    #edit-band-form {
                        label {
                            font-weight: bold;
                        }
                        input {
                            width: 400px;
                        }
                        .banner {
                            width: 400px;
                        }
                        .add-button {
                            font-family: $font-admin;
                            background-color: $color-primary-red;
                            color: $color-white;
                            border: 2px solid $color-primary-black;
                            border-radius: 5px;
                            padding: 5px;
                            width: fit-content;
                            cursor: pointer;
                            &:hover {
                                background-color: $color-white;
                                color: $color-primary-black;
                            }
                            &.submit {
                                font-family: $font-admin;
                                font-size: 16px;
                                padding: 10px;
                            }
                        }
                    }
                }
                .spacer-bottom {
                    height: 20px;
                }
            }
            .edit-prod-window {
                position: absolute;
                width: 82%;
                padding-top: 20px;
                background-color: $color-primary-black-transparent;
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 2;
                .close-button-container {
                    width: 100%;
                    color: $color-white;
                    font-size: 30px;
                    .close-button {
                        display: inline;
                        position: relative;
                        right: -85%;
                        cursor: pointer;
                    }
                }
                .edit-form-container {
                    margin: 0 auto;
                    width: 800px;
                    background-color: $color-white;
                    padding: 10px;
                    border-radius: 5px;
                    #edit-prod-form {
                        label {
                            font-weight: bold;
                        }
                        input {
                            width: 400px;
                        }
                        .prod-image {
                            width: 400px;
                        }
                        .add-button {
                            font-family: $font-admin;
                            background-color: $color-primary-red;
                            color: $color-white;
                            border: 2px solid $color-primary-black;
                            border-radius: 5px;
                            padding: 5px;
                            width: fit-content;
                            cursor: pointer;
                            &:hover {
                                background-color: $color-white;
                                color: $color-primary-black;
                            }
                            &.submit {
                                font-family: $font-admin;
                                font-size: 16px;
                                padding: 10px;
                            }
                        }
                    }
                }
                .spacer-bottom {
                    height: 20px;
                }
            }
            .edit-genre-window {
                position: absolute;
                width: 82%;
                padding-top: 20px;
                background-color: $color-primary-black-transparent;
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 2;
                .close-button-container {
                    width: 100%;
                    color: $color-white;
                    font-size: 30px;
                    .close-button {
                        display: inline;
                        position: relative;
                        right: -85%;
                        cursor: pointer;
                    }
                }
                .edit-form-container {
                    margin: 0 auto;
                    width: 800px;
                    background-color: $color-white;
                    padding: 10px;
                    border-radius: 5px;
                    #edit-genre-form {
                        label {
                            font-weight: bold;
                        }
                        input {
                            width: 400px;
                        }
                        .banner {
                            width: 400px;
                        }
                        .add-button {
                            font-family: $font-admin;
                            background-color: $color-primary-red;
                            color: $color-white;
                            border: 2px solid $color-primary-black;
                            border-radius: 5px;
                            padding: 5px;
                            width: fit-content;
                            cursor: pointer;
                            &:hover {
                                background-color: $color-white;
                                color: $color-primary-black;
                            }
                            &.submit {
                                font-family: $font-admin;
                                font-size: 16px;
                                padding: 10px;
                            }
                        }
                    }
                }
                .spacer-bottom {
                    height: 20px;
                }
            }
            .edit-blog-window {
                position: absolute;
                width: 82%;
                padding-top: 20px;
                background-color: $color-primary-black-transparent;
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 2;
                .close-button-container {
                    width: 100%;
                    color: $color-white;
                    font-size: 30px;
                    .close-button {
                        display: inline;
                        position: relative;
                        right: -85%;
                        cursor: pointer;
                    }
                }
                .edit-form-container {
                    margin: 0 auto;
                    width: 800px;
                    background-color: $color-white;
                    padding: 10px;
                    border-radius: 5px;
                    #edit-blog-form {
                        label {
                            font-weight: bold;
                        }
                        input {
                            width: 400px;
                        }
                        .add-button {
                            font-family: $font-admin;
                            background-color: $color-primary-red;
                            color: $color-white;
                            border: 2px solid $color-primary-black;
                            border-radius: 5px;
                            padding: 5px;
                            width: fit-content;
                            cursor: pointer;
                            &:hover {
                                background-color: $color-white;
                                color: $color-primary-black;
                            }
                            &.submit {
                                font-family: $font-admin;
                                font-size: 16px;
                                padding: 10px;
                            }
                        }
                    }
                }
                .spacer-bottom {
                    height: 20px;
                }
            }
            .pop-up-message-window {
                position: absolute;
                width: 82%;
                height: 100%;
                padding-top: 20px;
                background-color: $color-primary-black-transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                z-index: 2;
                #confirm-delete-band-form {
                    display: none;
                }
                #confirm-ban-form {
                    display: none;
                }
                #confirm-unban-form {
                    display: none;
                }
                .message-container {
                    background-color: $color-white;
                    width: 500px;
                    height: 80px;
                    border-radius: 5px 5px 0 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                }
                .options-container {
                    background-color: $color-white;
                    width: 500px;
                    height: 120px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 0 5px 5px;
                    margin: 0;
                    .confirm-button-container {
                        padding: 70px;
                        .confirm-button {
                            padding: 15px 30px;
                            background-color: $color-primary-light-grey;
                            font-family: $font-admin;
                            font-size: 20px;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                    }
                    .cancel-button-container {
                        padding: 70px;
                        margin: 0;
                        .cancel-button {
                            padding: 15px 30px;
                            background-color: $color-primary-red;
                            font-family: $font-admin;
                            font-size: 20px;
                            color: $color-white;
                            border-radius: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .table {
                border: 1px solid $color-primary-light-grey;
                border-collapse: collapse;
                thead {
                    tr {
                        th {
                            border: 1px solid $color-primary-light-grey;
                        }
                    }
                }
                tbody {
                    tr {
                        &:hover {
                            background-color: $color-primary-light-grey;
                        }
                        td {
                            border: 1px solid $color-primary-grey;
                            max-width: fit-content;
                            .profile-pic {
                                width: 50px;
                            }
                            .product-image {
                                width: 50px;
                            }
                            .banner {
                                width: 50px;
                            }
                            .logo {
                                width: 50px;
                            }
                            .thumbnail {
                                width: 50px;
                            }
                            form {
                                max-width: 60px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}