/* Font */
$font-primary: "Metal Mania";
/* Color*/
$color-white: #ffffff;
$color-primary-red: #570000;
$color-primary-black: #111111;
$color-primary-grey: #cccccc;
$color-primary-dark-grey: #5e5e5e;
$color-primary-light-grey: #dedede;
$color-shadow: rgba(0, 0, 0, 0.35);
$color-white-transparent: rgba(255, 255, 255, 0.8);
$color-primary-light-red: #ad0000;
$color-primary-black-transparent: #111111cc;
$color-dark-blue: #0b00a0;
$color-light-blue: #169eff;
/* Screen Size */
$smallmobile: 'only screen and (max-width: 319px)';
$medmobile: 'only screen and (min-width: 320px) and (max-width: 374px)';
$bigmobile: 'only screen and (min-width: 375px) and (max-width: 424px)';
$tablet: 'only screen and (min-width: 425px) and (max-width: 767px)';
$big-tablet: 'only screen and (min-width: 768px) and (max-width: 1023px)';
$small-pc: 'only screen and (min-width: 1024px) and (max-width: 1439px)';
$pc: 'only screen and (min-width: 1440px) and (max-width: 3000px)';